h1 {
  text-align: center;
}

.main-container {
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

form {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.myCards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}


.savedCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;


}

.preview {
  margin: 20px 0;
}

.card-preview {
  align-items: center;
  background-color: green;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 5px;
  width: 220px;
}

.card-preview h2 {
  background-color: aquamarine;
  margin: 5px;
}

.card-preview img {
  width: inherit;
}

.card-preview button {
  background-color: red;
  border-radius: 5px;
  font-weight: 700;
}
